:root {
  --brown: #3a2808;
  --lightBrown: #7a4721;
  --blue: #067df7;
  --white: #f9f9f9;

  --shadow: 0px 4px 6px 2px #212121;
  --shadowDark: 0px 4px 6px 2px #000;
  --shadowBrown: 0px 3px 6px var(--brown);

  --fancy: 'IM Fell Great Primer SC';
  --sans: 'News Cycle', sans-serif;

}

body {
  font-family: 'News Cycle', sans-serif;
  line-height: 1.4;
  padding: 1rem;
  background: #222;
}